@import "modern-normalize";

:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #9e9e9e;
  --light-gray: #e0e0e0;
  --dark-gray: #212121;
  --bg-color: #f5f5f5;
  --error: #ff0000;
}

body {
  color: var(--black);
  background: var(--bg-color);
  font-family: "Inter", sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}
